body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'PT Serif', serif;
}

header {
    height: 100vh;
    position: relative;
}

.logo {
    position: absolute;
    top: 30px;
    right: 500px;
}

.nav{
	position:absolute;
	top:30px;
	left:115px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
	float:left;
	margin-left:0px;
	font-family: 'Poppins', sans-serif;
	font-size:18px;
	font-weight:800;
	list-style:none;
	padding:10px 12px;
	
}

nav ul li a{
	color:white;
	text-decoration:none;
	border-radius: 25px;
	background-color:#190e4f;
	border: 2px solid #190e4f;
	padding-left: 30px; 
	padding-right: 30px;
	width: 20px;
	height: 15px; 
}

.container {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin: 0;
    white-space: nowrap; 
    margin-top: -100px
}

.container h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: black;
    margin: 0;
}

.container h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: black;
    margin: 0;
    word-spacing: 30px;
    margin-top: 25px;
}

.footer {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
