body{
	margin:0;
}

header {
    height: 100vh;
    position: relative;
}

.logo {
    position: absolute;
    top: 30px;
    right: 1082px;
}

.nav{
	position:absolute;
	top:30px;
	left:415px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
	float:left;
	margin-left:0px;
	font-family: 'Poppins', sans-serif;
	font-size:18px;
	font-weight:800;
	list-style:none;
	padding:10px 12px;
	
}

nav ul li a{
	color:white;
	text-decoration:none;
	border-radius: 25px;
	background-color:#190e4f;
	border: 2px solid #190e4f;
	padding-left: 30px; 
	padding-right: 30px;
	width: 20px;
	height: 15px; 
}


header h1{
	font-family: 'Poppins', sans-serif;
	font-size:96px;
	font-weight:700;
	color:white;
	margin:0;
}

header h3{
	font-family: 'Poppins', sans-serif;
	font-size:36px;
	font-weight:400;
	color:white;
	margin:0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
	font-family: 'PT Serif', serif;
}

.container {
    text-align: center;
    margin-top: 200px;
}

.title {
    font-size: 50px;
    margin-bottom: 20px;
    color: black;
    align-items: center;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 100%; 
	flex-wrap: wrap;
}

.image-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0px;
    font-size: 40px;
	
}

.image-item a {
    color: black; 
    text-decoration: none; 
}

.image-container img {
    max-width: 80%;
    width: 300px; 
    height: 200px; 
    
}

.tag{
	position:absolute;
	bottom:450px;
	left:650px;
}

.footer{
	font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
    font-size: 18px;
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    text-align: center;
}

.p{
    color: black;
    
}

/* Media query for smaller screens (e.g., tablets) */
@media screen and (max-width: 768px) {
	.title {
	  font-size: 40px; /* Decrease the font size for smaller screens */
	}
	.image-item {
		margin-right: 0;
        margin-left: 0;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
	}
  }
  
  /* Media query for even smaller screens (e.g., mobile phones) */
  @media screen and (max-width: 480px) {
	.title {
	  font-size: 30px; /* Further decrease the font size for mobile phones */
	}
	.image-container img {
	  width: 200px; /* Reduce image width for mobile phones */
	  height: 150px; /* Reduce image height for mobile phones */
	}
  }